/*milestone-1.html and milestone-2.html css*/

h1 {
    font-family: sans-serif, "Lato Black", bold;
    text-decoration: underline;
}

h2 {
    font-family: sans-serif, "Lato Black", bold;

}

h3 {
    font-family: sans-serif, "Lato Black", bold;

}

div.preface{

}

hr {
    width: 65%;
    margin-left: .1em;
    margin-bottom: 2em;
    margin-top: 2em;
}

div.persona{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*justify-content: center;*/



}

div.row{
    display: flex;
    flex-direction: row;
    /*flex-wrap: nowrap;*/
    /*width: auto;*/
}

div.column{
    display: flex;
    flex-direction: column;
    width: 25%;



    /*flex-basis: 100%;*/
    /*flex: 1;*/
}

.leftColumn {
    display: flex;
    /*margin: auto;*/
    /*align-content: space-between;*/
    /*background-color: blue;*/
    /*height: 200px;*/
    flex-wrap: nowrap;
    /*align-content: flex-start;*/
    /*align-self: start;*/

}

.rightColumn {
    /*margin: auto;*/
    justify-content: flex-end;
    /*background-color: green;*/
    /*height: 200px;*/
    /*flex-wrap: wrap;*/
    width: 150%;
    /*align-content: flex-end;*/
    /*text-align: start;*/
    /*align-self: start;*/

}

p {
    display: flex;
    font-family: sans-serif, "Lato Black";
    font-size: medium;
    align-items: end;
 }

figure{
    margin-left: auto;
}

.imageFlex{
    display: flex;
    justify-content: space-evenly;
}


/*body {*/
/*    background-color: #eaeaea;*/
/*}*/

/*.hero {*/
/*    position: relative;*/
/*    height: 300px;*/
/*    background-image: linear-gradient(#4568dc, #b06ab3);*/
/*    */
/*}*/
/*svg {*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 10vw;*/
/*    fill: #eaeaea;*/
/*}*/

/*body, html {*/
/*    height: 100%;*/
/*}*/


/*.bg {*/
/*    background-image: url("/images/tech-background.jpg");*/

     /*Full height */
    /*height: 100%;*/

    /* Center and scale the image nicely */
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
/*}*/

.bg::before{

    /*background-image: linear-gradient(rgba(15, 117, 189, 0.5), rgba(43, 83, 112, 1))*/
    content: "";
    background-image: url("./images/blue-mountains.jpg");
    background-size: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /*opacity: 0.75;*/
    background-position: bottom;
}

.navbg{
    background-color: rgba(43, 83, 112, .8);
}

.jumbotron{
    /*background-image: url("./images/tech-background.jpg");*/
    /*background-position: center;*/
    /*background-blend-mode: color-dodge;*/
    color: white;
    background-image: linear-gradient(rgba(15, 117, 189, 0.5), rgba(43, 83, 112, 1))
}

.border{
    border: 3px black;
}