/*milestone-1.html css*/

h1 {
    font-family: sans-serif, "Lato Black", bold;
    text-decoration: underline;
}

h2 {
    font-family: sans-serif, "Lato Black", bold;

}

h3 {
    font-family: sans-serif, "Lato Black", bold;
    display: inline-block;
}

div.preface{

}

hr {
    width: 42%;
    margin-left: .1em;
    margin-bottom: 2em;
    margin-top: 2em;
}

div.persona{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

p.paragraphStructure {
    display: block;
    overflow-wrap: break-word;
    max-width: 40%;
    margin-left: 20px;
    font-family: sans-serif, "Lato Black";
    font-size: medium;

 }

/*p.paragraphStructure::before {*/
/*    display: block;*/
/*    content: "\A";*/
/*    white-space: pre;*/
/*}*/

